*{
    margin: 0px;
    padding: 0px;
}
.landing{
    background-image: url(/assets/css/images/analytic.img.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    /* position: absolute; */
    display: flex;
   align-items: center;
   justify-content: center;
    text-align: center;
   
    
}
.landing1{
    background-color: #0009;
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 9;
}
.landing2{
    color: #fff;
    text-align: center;
    /* align-items: center; */
    justify-content: center;
    /* margin-top: 30vh; */
    position: absolute;
    width: 60vw;
    z-index: 10;
}
.btn1{
    border-radius: 100px 0px 0px 100px;
    padding: 11px;
    background-color: #fff;
    border: solid white;
    
}
.btn2{
    border-radius: 0px 100px 100px 0px;
    padding: 10px;
    border: solid white;
    background-color: #000;
}

.btn1>a{
    color: #000;
    font-weight: bolder;
    text-decoration: none;
    
}
.btn2>a{
    
    color: #fff;
    font-weight: bolder;
    text-decoration: none;

   
}
.mainbtn{
    display: flex;
    justify-content: center;
}